Account_Health_Intelligence_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Case_Counter_Always</name>
        <label>Increment TotalCases</label>
        <locationX>600</locationX>
        <locationY>1400</locationY>
        <assignmentItems>
            <assignToReference>TotalCases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Case_Is_Open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Case_To_Report</name>
        <label>Append Case to Report Section</label>
        <locationX>800</locationX>
        <locationY>1700</locationY>
        <assignmentItems>
            <assignToReference>CaseReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentCase.CaseNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentCase.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | Status: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentCase.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | Priority: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentCase.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ClosedWon_Counter</name>
        <label>Increment ClosedWonOpps</label>
        <locationX>1000</locationX>
        <locationY>1100</locationY>
        <assignmentItems>
            <assignToReference>ClosedWonOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Opp_Above_Min_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Counter_And_Report</name>
        <label>Increment TotalContacts and Append to Report</label>
        <locationX>600</locationX>
        <locationY>1850</locationY>
        <assignmentItems>
            <assignToReference>TotalContacts</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentContact.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | Title: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentContact.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HealthScore_Start</name>
        <label>Initialize HealthScore to 100</label>
        <locationX>400</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>HealthScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_OpenCases_GT_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_High_Priority_Counter</name>
        <label>Increment HighPriorityCases</label>
        <locationX>1000</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>HighPriorityCases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Case_To_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Open_Case_Counter</name>
        <label>Increment OpenCases</label>
        <locationX>1000</locationX>
        <locationY>1400</locationY>
        <assignmentItems>
            <assignToReference>OpenCases</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Case_High_Priority</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Open_Opp_Counters</name>
        <label>Increment OpenOpps and OpenOppAmount</label>
        <locationX>1000</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>OpenOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpenOppAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOpp.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Opp_Closed_Won</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_Counters_Always</name>
        <label>Increment TotalOpps and TotalOppAmount</label>
        <locationX>600</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>TotalOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalOppAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOpp.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Opp_Is_Open</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opp_To_Report</name>
        <label>Append Opp to Report Section</label>
        <locationX>1000</locationX>
        <locationY>1250</locationY>
        <assignmentItems>
            <assignToReference>OppReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOpp.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | Stage: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOpp.StageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | Amt: $</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOpp.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | Close: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOpp.CloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | Prob: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentOpp.Probability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OppReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>%
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Score_Minus_10</name>
        <label>Subtract 10 (No Contacts)</label>
        <locationX>800</locationX>
        <locationY>2750</locationY>
        <assignmentItems>
            <assignToReference>HealthScore</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_OpenTasks_GT_10</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Score_Minus_15</name>
        <label>Subtract 15 (High Priority Cases)</label>
        <locationX>800</locationX>
        <locationY>2300</locationY>
        <assignmentItems>
            <assignToReference>HealthScore</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_OpenOpps_GT_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Score_Minus_20</name>
        <label>Subtract 20 (Too Many Open Cases)</label>
        <locationX>800</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>HealthScore</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_HighPriorityCases_GT_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Score_Minus_5</name>
        <label>Subtract 5 (Too Many Open Tasks)</label>
        <locationX>800</locationX>
        <locationY>2900</locationY>
        <assignmentItems>
            <assignToReference>HealthScore</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_Cap_HealthScore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Score_Plus_10_ClosedWon</name>
        <label>Add 10 (Has Closed Won)</label>
        <locationX>800</locationX>
        <locationY>2600</locationY>
        <assignmentItems>
            <assignToReference>HealthScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_TotalContacts_EQ_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Score_Plus_10_OpenOpps</name>
        <label>Add 10 (Has Open Opps)</label>
        <locationX>800</locationX>
        <locationY>2450</locationY>
        <assignmentItems>
            <assignToReference>HealthScore</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_ClosedWon_GT_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Counter_And_Report</name>
        <label>Increment OpenTasks and Append to Report</label>
        <locationX>600</locationX>
        <locationY>2000</locationY>
        <assignmentItems>
            <assignToReference>OpenTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentTask.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | Due: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentTask.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> | Priority: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentTask.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskReportSection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Final_Report</name>
        <label>Build Final HealthReport String</label>
        <locationX>400</locationX>
        <locationY>3050</locationY>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>========================================
ACCOUNT HEALTH REPORT
========================================
</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ACCOUNT DETAILS
---------------
Name: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccount.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Type: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccount.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Industry: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccount.Industry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Location: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccount.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccount.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Annual Revenue: $</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccount.AnnualRevenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Employees: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccount.NumberOfEmployees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>

========================================
HEALTH SCORE: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HealthScore</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>/100
========================================

PIPELINE SUMMARY
----------------
Total Opportunities: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TotalOpps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Open Opportunities: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpenOpps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Closed Won: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ClosedWonOpps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Total Pipeline Value: $</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TotalOppAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Open Pipeline Value: $</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpenOppAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Total Cases: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TotalCases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Open Cases: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpenCases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
High Priority Cases: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>HighPriorityCases</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Total Contacts: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TotalContacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
Open Tasks: </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpenTasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>

OPPORTUNITIES (Amount &gt;= $</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MinOpportunityAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>)
-----------------------------------------
</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppReportSection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
CASES
-----------------------------------------
</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CaseReportSection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
CONTACTS
-----------------------------------------
</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactReportSection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
OPEN TASKS
-----------------------------------------
</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskReportSection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>
========================================
[End of Health Report]
========================================</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Account_Found_True</name>
        <label>Set Account Found True</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>AccountFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_Not_Found</name>
        <label>Set Account Not Found</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>HealthReport</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account not found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Score_Cap_100</name>
        <label>Cap Score at 100</label>
        <locationX>800</locationX>
        <locationY>3200</locationY>
        <assignmentItems>
            <assignToReference>HealthScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Final_Report</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Score_Floor_0</name>
        <label>Floor Score at 0</label>
        <locationX>1000</locationX>
        <locationY>3200</locationY>
        <assignmentItems>
            <assignToReference>HealthScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Final_Report</targetReference>
        </connector>
    </assignments>

    <decisions>
        <name>Decision_Account_Found</name>
        <label>Account Found?</label>
        <locationX>400</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Set_Account_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Account_Found_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAccount.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Found_True</targetReference>
            </connector>
            <label>Account Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Case_High_Priority</name>
        <label>Is Case High Priority?</label>
        <locationX>800</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_To_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not High Priority</defaultConnectorLabel>
        <rules>
            <name>Case_High_Priority_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentCase.Priority</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_High_Priority_Counter</targetReference>
            </connector>
            <label>High Priority</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Case_Is_Open</name>
        <label>Is Case Open?</label>
        <locationX>800</locationX>
        <locationY>1400</locationY>
        <defaultConnector>
            <targetReference>Assign_Case_To_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed Case</defaultConnectorLabel>
        <rules>
            <name>Case_Is_Open_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentCase.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Open_Case_Counter</targetReference>
            </connector>
            <label>Open Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ClosedWon_GT_0</name>
        <label>ClosedWonOpps Greater Than 0?</label>
        <locationX>600</locationX>
        <locationY>2600</locationY>
        <defaultConnector>
            <targetReference>Decision_TotalContacts_EQ_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Closed Won</defaultConnectorLabel>
        <rules>
            <name>ClosedWon_GT_0_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClosedWonOpps</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Score_Plus_10_ClosedWon</targetReference>
            </connector>
            <label>Has Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_HighPriorityCases_GT_0</name>
        <label>HighPriorityCases Greater Than 0?</label>
        <locationX>600</locationX>
        <locationY>2300</locationY>
        <defaultConnector>
            <targetReference>Decision_OpenOpps_GT_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No High Priority Cases</defaultConnectorLabel>
        <rules>
            <name>HighPriority_GT_0_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HighPriorityCases</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Score_Minus_15</targetReference>
            </connector>
            <label>Has High Priority Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_OpenCases_GT_5</name>
        <label>OpenCases Greater Than 5?</label>
        <locationX>600</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>Decision_HighPriorityCases_GT_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>5 or Fewer</defaultConnectorLabel>
        <rules>
            <name>OpenCases_GT_5_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenCases</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Score_Minus_20</targetReference>
            </connector>
            <label>More Than 5 Open Cases</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_OpenOpps_GT_0</name>
        <label>OpenOpps Greater Than 0?</label>
        <locationX>600</locationX>
        <locationY>2450</locationY>
        <defaultConnector>
            <targetReference>Decision_ClosedWon_GT_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Open Opps</defaultConnectorLabel>
        <rules>
            <name>OpenOpps_GT_0_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenOpps</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Score_Plus_10_OpenOpps</targetReference>
            </connector>
            <label>Has Open Opps</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_OpenTasks_GT_10</name>
        <label>OpenTasks Greater Than 10?</label>
        <locationX>600</locationX>
        <locationY>2900</locationY>
        <defaultConnector>
            <targetReference>Decision_Cap_HealthScore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>10 or Fewer Tasks</defaultConnectorLabel>
        <rules>
            <name>OpenTasks_GT_10_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenTasks</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Score_Minus_5</targetReference>
            </connector>
            <label>More Than 10 Tasks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Opp_Above_Min_Amount</name>
        <label>Opp Amount Above Minimum?</label>
        <locationX>800</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Loop_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Below Minimum - Skip</defaultConnectorLabel>
        <rules>
            <name>Opp_Above_Min_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentOpp.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MinOpportunityAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_Skip_Closed_Opp</targetReference>
            </connector>
            <label>Above Minimum</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Opp_Closed_Won</name>
        <label>Is Opportunity Closed Won?</label>
        <locationX>800</locationX>
        <locationY>1100</locationY>
        <defaultConnector>
            <targetReference>Decision_Opp_Above_Min_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Closed Won</defaultConnectorLabel>
        <rules>
            <name>Opp_Closed_Won_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentOpp.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ClosedWon_Counter</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Opp_Is_Open</name>
        <label>Is Opportunity Open?</label>
        <locationX>800</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Decision_Opp_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Closed</defaultConnectorLabel>
        <rules>
            <name>Opp_Is_Open_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>currentOpp.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Open_Opp_Counters</targetReference>
            </connector>
            <label>Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_TotalContacts_EQ_0</name>
        <label>No Contacts?</label>
        <locationX>600</locationX>
        <locationY>2750</locationY>
        <defaultConnector>
            <targetReference>Decision_OpenTasks_GT_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Contacts</defaultConnectorLabel>
        <rules>
            <name>NoContacts_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Score_Minus_10</targetReference>
            </connector>
            <label>No Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Cap_HealthScore</name>
        <label>Cap HealthScore 0-100</label>
        <locationX>600</locationX>
        <locationY>3200</locationY>
        <defaultConnector>
            <targetReference>Build_Final_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Score In Range</defaultConnectorLabel>
        <rules>
            <name>Score_Over_100_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HealthScore</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Score_Cap_100</targetReference>
            </connector>
            <label>Over 100</label>
        </rules>
        <rules>
            <name>Score_Below_0_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HealthScore</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Score_Floor_0</targetReference>
            </connector>
            <label>Below 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Skip_Closed_Opp</name>
        <label>Skip Closed Opp from Report?</label>
        <locationX>1000</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Assign_Opp_To_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Include in Report</defaultConnectorLabel>
        <rules>
            <name>Skip_Closed_Opp_Rule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncludeClosedOpps</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentOpp.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Opportunities</targetReference>
            </connector>
            <label>Exclude Closed Opp</label>
        </rules>
    </decisions>

    <description>Account Health Intelligence Flow - Analyzes an account across Opportunities, Cases, Contacts, and Tasks to produce a health score and formatted report.</description>
    <interviewLabel>Account Health Intelligence Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Health Intelligence Flow</label>
    <loops>
        <name>Loop_Cases</name>
        <label>Loop Through Cases</label>
        <locationX>400</locationX>
        <locationY>1400</locationY>
        <assignNextValueToReference>currentCase</assignNextValueToReference>
        <collectionReference>varCases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Case_Counter_Always</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Contacts</name>
        <label>Loop Through Contacts</label>
        <locationX>400</locationX>
        <locationY>1850</locationY>
        <assignNextValueToReference>currentContact</assignNextValueToReference>
        <collectionReference>varContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Counter_And_Report</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Opportunities</name>
        <label>Loop Through Opportunities</label>
        <locationX>400</locationX>
        <locationY>950</locationY>
        <assignNextValueToReference>currentOpp</assignNextValueToReference>
        <collectionReference>varOpportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Counters_Always</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Tasks</name>
        <label>Loop Through Tasks</label>
        <locationX>400</locationX>
        <locationY>2000</locationY>
        <assignNextValueToReference>currentTask</assignNextValueToReference>
        <collectionReference>varTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Counter_And_Report</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_HealthScore_Start</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account by Name</label>
        <locationX>200</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountName</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>varAccount</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>Phone</queriedFields>
        <queriedFields>Website</queriedFields>
        <queriedFields>AnnualRevenue</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Cases</name>
        <label>Get All Cases for Account</label>
        <locationX>400</locationX>
        <locationY>500</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>varCases</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>IsClosed</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get All Contacts for Account</label>
        <locationX>400</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>varContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Title</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Phone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunities</name>
        <label>Get All Opportunities for Account</label>
        <locationX>400</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>varOpportunities</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Amount</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Probability</queriedFields>
        <sortField>Amount</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get All Open Tasks for Account</label>
        <locationX>400</locationX>
        <locationY>800</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <outputReference>varTasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Priority</queriedFields>
        <queriedFields>ActivityDate</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseReportSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ClosedWonOpps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContactReportSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>currentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>currentTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>HealthReport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>HealthScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>HighPriorityCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IncludeClosedOpps</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MinOpportunityAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>OpenCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OpenOppAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OpenOpps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OpenTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OppReportSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TaskReportSection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>TotalCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalContacts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalOppAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalOpps</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varCases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>varContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>varTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
